::-moz-selection { /* Code for Firefox */
    color: rgba(0,0,0,.87);;
    background: #cce2ff;
  }
  .body{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }
  a{
    text-decoration: none;
    color: rgb(4, 17, 255) !important;
}
  
  .wrapper{
    background-color: #fff; 
    border-radius:5px; 
    padding-left:35px;
    padding-right:35px; 
    padding-top:20px
  }
  ::selection {
    color: rgba(0,0,0,.87);
    background: #cce2ff;
  }
.mapdiv{
    width: 100%;
    padding: 20px;
}
body{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background-color: #f1f2f6!important;
}
.content{
    background-color:  #f1f2f6!important;
}

.nav{
    background-color:rgb(37, 42, 59 ) !important;
    padding-bottom: 20px;

}
.header{
    margin-left: 200px;
    margin-right: 200px;
}
.mapdiv path{
    fill:rgb(4, 17, 255);
    transition: fill 0.1s;
}
.mapdiv :hover{
    fill:rgb(211, 161, 50);
}
.footer-text{
    padding-top: 30px; 
    padding-left:40px; 
    padding-right:40px;
}
a:hover{
    text-decoration: none;
}
.button{
    white-space: normal !important;
    padding:20px 38px !important ;
    width:100% !important;
    background-color:#db2828 !important;
}
.button-text{
    white-space: normal !important;
    font-weight: 700 !important; 
    font-size:23px !important;
}
@media only screen and (max-width: 750px) and (min-width:200px) {
.mapdiv-wrapper{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}
.footer-text{
    padding-top: 30px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}

a{
    text-decoration: none;
    color: rgb(4, 17, 255) !important;
}
.button{
    white-space: normal !important;
    padding:20px 38px !important ;
    width:100% !important;
    background-color:#db2828 !important;
}
.button-text{
    white-space: normal !important;
    font-weight: 700 !important; 
    font-size:23px !important;
}
.mapdiv path{
    fill:rgb(4, 17, 255) !important;
    transition: fill 0.1s !important;
}
.mapdiv :hover{
    fill:rgb(211, 161, 50) !important;
}
.wrapper{
    background-color: #fff; 
    border-radius:5px; 
    padding-left: 25px;
    padding-right: 25px;
    padding-top:20px
  }
  .thnak-p{
padding-left: 15px !important;
padding-right: 15px !important;
  }
.nav{
    background-color:rgb(37, 42, 59) !important;
    padding-bottom: 5px;

}
.logo{
    max-width: 200px!important;
}
.header{
    margin-left: 0px;
    margin-right: 0px;
}
}
@media only screen and (max-width: 1024px) and (min-width:751px) {
    .mapdiv-wrapper{
        margin-left: 20px !important;
        margin-right: 20px!important;
    }
  
    .nav{
        background-color:rgb(37, 42, 59) !important;
        padding-bottom: 5px;
    
    }
    .mapdiv path{
        fill:rgb(4, 17, 255) !important;
        transition: fill 0.1s !important;
    }
    .mapdiv :hover{
        fill:rgb(211, 161, 50) !important;
    }
    }
    /* @media only screen and (min-screen:1200px) { */
        .mapdiv-wrapper{
            margin-left: 200px;
            margin-right: 200px;
            background-color:white;
        }
    /* } */